.login-page {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.branding {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.branding h1 {
    color: #4CAF50;
    font-size: 24px;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #009942;
}

.login-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #45a049;
}

.login-container a {
    color: #4CAF50;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

.forgot-password {
    margin-top: 10px;
    text-align: center;
}

.forgot-password .clickable-text {
    color: #4CAF50;
    cursor: pointer;
    font-weight: bold;
}

.forgot-password .clickable-text:hover {
    color: #388E3C;
}

.signup-link {
    margin-top: 20px;
    text-align: center;
}

.signup-link a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

.signup-link a:hover {
    color: #388E3C;
    text-decoration: underline;
}